/** MENU AND CONTAINER */

.menu {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* ?maybe add background color */
    /* background-color: #2b2b35; */
}

.menu-item:first-child {
    padding-left: 50vw;
}

.menu-item {
    margin: 2.5vw;
    cursor: pointer;
    z-index: 100;
}

.menu-item-chosen {
    /* text-decoration: underline; */
    font-weight: bold;
}

.container {
    padding: 0 10vw;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}


/** GREETING PAGE */

.left-part {
    width: 50%;
    text-align: right;
}

.big-text {
    font-size: 5.6vw;
    font-weight: bold;
    color: #22222a;
}

.small-text {
    font-size: 2.5vw;
    color: #2b2b35;
}

.link {
    cursor: pointer;
}

.picture {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.me {
    width: 40vw;
    height: 40vw;
}


/** RESUME PAGE */

.button {
    padding: 1.5vw 2vw 1vw 2vw;
    display: inline-block;
    background-color: #2b2b35;
    border: none;
    color: white;
    font-size: 2.5vw;
    text-decoration: none;
    transition: 0.2s ease;
}

.button:hover {
    background-color: #22222a;
}


/** PROJECT BLOCKS */

.apps {
    margin-left: 9vw;
    width: 22vw;
    height: 82vh;
}

.games {
    width: 49vw;
    height: 82vh;
}

.header {
    margin: 2.5vh 0 0 0;
    width: 100%;
    height: 7vh;
    font-size: 3.2vw;
    font-weight: bold;
    color: #22222a;
}

.description {
    margin: 0;
    width: 100%;
    height: 10vh;
    text-align: justify;
}

.project-block {
    width: 100%;
    height: 62.5vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.project {
    width: 22vw;
    height: 41%;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.name-hover {
    padding: 0 10%;
    width: 80%;
    height: 100%;
    background-color: #2b2b35;
    font-size: 2vw;
    color: white;
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    transition: 0.3s ease;
}

.name-hover p:first-child {
    font-size: 2.4vw;
}

.name-hover:hover {
    opacity: 0;
}

.game1 {
    background-image: url("../img/flappy-bird.png");
}

.game2 {
    background-image: url("../img/helix-jump.png");
}

.game3 {
    background-image: url("../img/cube-surfer.png");
}

.game4 {
    background-image: url("../img/mustard-party-2.png");
}

.app1 {
    background-image: url("../img/karate-md.png");
}

.app2 {
    background-image: url("../img/schedoler.png");
}


/** CONTACTS */

