/** MENU AND CONTAINER */

.menu {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #d1e5eb;
}

.menu:first-child {
    padding-left: 50vw;
}

.menu-item {
    margin: 2.5vw 2.5vw;
    font-size: 2.5vw;
    color: #2b2b35;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}


/** INFO WITH PICTURE */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info {
    padding-left: 7%;
    width: 43%;
    text-align: right;
}

.big-text {
    font-size: 5vw;
    font-weight: bold;
    color: #22222a;
}

.small-text {
    font-size: 2.5vw;
    color: #2b2b35;
}

.link {
    cursor: pointer;
}

.picture {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.me {
    margin-right: 15%;
    margin-top: 2.8vw;
    width: 40vw;
    height: 40vw;
}


/** EDUCATION TIMELINE */

.education {
    width: 100vw;
    height: 100vh;
}

.educ-block {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educ-text {
    padding: 0 3vw;
    width: 40vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5vw;
    border-top: 0.3vw solid #22222a;
    position: relative;
    color: #d1e5eb;
}

.educ-text:before {
    padding: 0 1vw;
    position: absolute;
    width: 9vw;
    font-size: 1.5vw;
    color: #d1e5eb;
}

.ed1:before {
    content:"2018 - 2021";
}

.ed2:before {
    content:"2019";
}

.ed3:before {
    content:"2021";
}

.ed4:before {
    content:"2021 - current";
}

.educ-text:nth-child(odd) {
    border-right: 0.3vw solid #22222a;
    padding-left: 0;
}

.educ-text:nth-child(odd):before {
    left: 100%;
    text-align: left;
}

.educ-text:nth-child(even) {
    border-left: 0.3vw solid #22222a;
    padding-right: 0;
}

.educ-text:nth-child(even):before {
    right: 100%;
    text-align: right;
}

.educ-text:first-child {
    border-top: 0;
}

.edu-name {
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}

.educ-desc p:not(:first-child) {
    padding-top: 2vh;
}


/** SKILLS IMAGES */

.skills {
    width: 100vw;
    height: 100vh;
} 


/** PROJECT BLOCKS */

.projects {
    width: 100vw;
    height: 100vh;
}


/** FOOTER */

.footer {
    width: 100%;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #22222a;
    font-size: 1.5vw;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}