/** MENU */

.top {
    width: 100vw;
    height: 10vh;
    z-index: 100;
}

.hamburger {
    display: none;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-item:first-child {
    padding-left: 50vw;
}

.menu-item {
    margin: 2.5vw;
    cursor: pointer;
}

.menu-item-chosen {
    font-weight: bold;
}

/** MAIN STRUCTURE */

.container {
    padding: 0 10vw;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.link {
    cursor: pointer;
}


/** PICTURE SIDE */

.picture {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.me {
    width: 77vh;
    height: 77vh;
}


/** CONTENT SIDE */

.left-part {
    width: 50%;
    text-align: right;
}

.big-text {
    margin-top: 0;
    font-size: 5.5vw;
    letter-spacing: -0.4vw;
    font-weight: bold;
    color: #241d1a;
}

.small-text {
    font-size: 2.2vw;
    letter-spacing: -0.17vw;
    line-height: 1.7vw;
    color: #302722;
}


/** RESUME */

.button {
    margin-top: 4vh;
    padding: 1vw 2vw;
    display: inline-block;
    background-color: #241d1a;
    border: none;
    color: white;
    font-size: 2.2vw;
    letter-spacing: -2px;
    text-decoration: none;
    transition: 0.2s ease;
}

.button:hover {
    background-color: #302722;
}


/** CONTACTS */

.left-part a:not(.button) {
    text-decoration: none;
    color: #2b2b35;
}