/** MENU AND CONTAINER */

.menu {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu:first-child {
    padding-left: 50vw;
}

.menu-item {
    margin: 2.5vw;
    font-size: 2.5vw;
    color: #2b2b35;
    cursor: pointer;
    z-index: 100;
}

.container {
    padding: 0 10vw;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}


/** GREETING PAGE */

.info {
    width: 50%;
    text-align: right;
}

.big-text {
    font-size: 5.5vw;
    font-weight: bold;
    color: #22222a;
}

.small-text {
    font-size: 2.7vw;
    color: #2b2b35;
}

.link {
    cursor: pointer;
}

.picture {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.me {
    width: 40vw;
    height: 40vw;
}


/** RESUME PAGE */




/** PROJECT BLOCKS */

.apps {
    margin-left: 7vw;
    width: 23vw;
    height: 90vh;
}

.games {
    width: 50vw;
    height: 90vh;
}

.header {
    margin: 5vh 0 0 0;
    width: 100%;
    height: 8vh;
    font-size: 3.2vw;
    font-weight: bold;
    color: #22222a;
}

.description {
    margin: 0;
    width: 100%;
    height: 9vh;
    font-size: 2vw;
}

.project-block {
    width: 100%;
    height: 68vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.project {
    width: 23vw;
    height: 40%;
    cursor: pointer;
    background-color: aliceblue;
}


/** CONTACTS */

