/** MENU AND CONTAINER */

.menu {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu:first-child {
    padding-left: 50vw;
}

.menu-item {
    margin: 2.5vw;
    font-size: 2.5vw;
    color: #2b2b35;
    cursor: pointer;
}

.container {
    padding: 0 10vw;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}


/** GREETING PAGE */

.info {
    width: 50%;
    text-align: right;
}

.big-text {
    font-size: 5.5vw;
    font-weight: bold;
    color: #22222a;
}

.small-text {
    font-size: 2.7vw;
    color: #2b2b35;
}

.link {
    cursor: pointer;
}

.picture {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.me {
    width: 40vw;
    height: 40vw;
}


/** RESUME PAGE */

/* TODO make it fit and look better */
/* ?maybe delete all the education info */
/* .education {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educ-text {
    padding: 0 3vw;
    width: 40vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5vw;
    border-top: 0.3vw solid #22222a;
    position: relative;
    color: #2b2b35;
}

.educ-text:before {
    padding: 0 1vw;
    position: absolute;
    width: 9vw;
    font-size: 1.5vw;
    color: #22222a;
}

.educ-date1:before {
    content:"2018 - 2021";
}

.educ-date2:before {
    content:"2019";
}

.educ-date3:before {
    content:"2021";
}

.educ-date4:before {
    content:"2021 - current";
}

.educ-text:nth-child(odd) {
    border-right: 0.3vw solid #22222a;
    padding-left: 0;
}

.educ-text:nth-child(odd):before {
    left: 100%;
    text-align: left;
}

.educ-text:nth-child(even) {
    border-left: 0.3vw solid #22222a;
    padding-right: 0;
}

.educ-text:nth-child(even):before {
    right: 100%;
    text-align: right;
}

.educ-text:first-child {
    border-top: 0;
}

.educ-name {
    font-size: 2.5vw;
    font-weight: bold;
    color: #22222a;
}

.educ-desc p:not(:first-child) {
    padding-top: 2vh;
} */


/** PROJECT BLOCKS */

.apps {
    margin-left: 7vw;
    width: 23vw;
    height: 90vh;
}

.games {
    width: 50vw;
    height: 90vh;
}

.header {
    margin: 5vh 0 0 0;
    width: 100%;
    height: 9vh;
    font-size: 3.2vw;
    font-weight: bold;
    color: #22222a;
}

.description {
    margin: 0;
    width: 100%;
    height: 9vh;
    font-size: 2vw;
}

.project-block {
    width: 100%;
    height: 67vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.project {
    width: 23vw;
    height: 40%;
    cursor: pointer;
    background-color: aliceblue;
}


/** CONTACTS */

.contact {
    width: 100%;
    height: auto;
} 