/** GLOBAL SETTINGS */

@font-face { 
    font-family: Pixeltype; 
    src: url('../fonts/Pixeltype.ttf');
    font-weight: normal;
}

@font-face { 
    font-family: DisposableDroid BB; 
    src: url('../fonts/DisposableDroidBB.ttf');
    font-weight: normal;
}

@font-face { 
    font-family: DisposableDroid BB; 
    src: url('../fonts/DisposableDroidBB_bld.ttf');
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* font-family: Pixeltype; */
    font-family: DisposableDroid BB;
    line-height: 140%;
    background-color: #d1e5eb;
}

.no-margin {
    padding: 0;
    margin: 0;
}


/** CUSTOM SCROLLBAR */

/* :root {
    --animate-delay: 0.9s;
}

::-webkit-scrollbar {
    width: 0.5vw;
}
  
::-webkit-scrollbar-track {
    background: #f8fdff; 
}
   
::-webkit-scrollbar-thumb {
    background: #22222a; 
} */