/** GLOBAL SETTINGS */

@font-face { 
    font-family: Pixeltype; 
    src: url('../fonts/Pixeltype.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Pixeltype;
    background-color: #d1e5eb;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bold;
}


/** CUSTOM SCROLLBAR */

:root {
    --animate-delay: 0.9s;
}

::-webkit-scrollbar {
    width: 0.5vw;
}
  
::-webkit-scrollbar-track {
    background: #f8fdff; 
}
   
::-webkit-scrollbar-thumb {
    background: #22222a; 
}