@font-face { 
    font-family: Pixeltype; 
    src: url('../fonts/Pixeltype.ttf');
}

::-webkit-scrollbar {
    width: 0.5vw;
}
  
::-webkit-scrollbar-track {
    background: #e6f6fc; 
}
   
::-webkit-scrollbar-thumb {
    background: #1a1a1f; 
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Pixeltype;
}

.about {
    width: 100vw;
    height: 100vh;
    background-color: #d1e5eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info {
    padding-left: 7%;
    width: 43%;
    text-align: right;
}

.big-text {
    font-size: 5vw;
    font-weight: bold;
    color: #1a1a1f;
}

.small-text {
    font-size: 2.5vw;
    color: #2b2b35;
}

.link {
    cursor: pointer;
}

.picture {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.menu-item {
    margin: 2.5vw 2.5vw;
    font-size: 2.5vw;
}

.menu-item:hover {
    font-weight: bold;
}

.menu a {
    color: #1a1a1f;
    text-decoration: none;
}

.me {
    margin-right: 15%;
    width: 80vh;
    height: 80vh;
}

.education {
    width: 100vw;
    height: 100vh;
    background-color: #22222a;
}

.skills {
    width: 100vw;
    height: 100vh;
    background-color: #d1e5eb;
}

.projects {
    width: 100vw;
    height: 100vh;
    background-color: #22222a;
}