@media screen and (orientation:landscape) {
    .container {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 992px) {
    body {
        line-height: 90%;
    }


    /** ADAPTIVE MENU */

    .hamburger {
        display: flex;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu {
        width: 100vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        background-color: #2b2b35;
        color: white;
        position: absolute;
        top: 10vh;
        z-index: 100;
    }

    .menu-item {
        margin: 3.5vh 0 0 15vw;
        font-size: 2.9vh;
        color: white;
    }

    .menu-item:first-child {
        padding-left: 0;
    }

    .container {
        height: auto;
        display: flex;
        flex-direction: column;
    }


    /** GREETING PAGE */

    .left-part {
        width: 70vw;
        text-align: left;
    }

    .big-text {
        font-size: 5vh;
        letter-spacing: -2px;
        line-height: 7vw;
    }

    .small-text {
        font-size: 2.8vh;
        letter-spacing: -1.8px;
        line-height: 1.8vh;
    }

    .picture {
        margin-top: 5vh;
        width: 100%;
        justify-content: flex-end;
    }

    .me {
        width: 30vh;
        height: 30vh;
    }


    /** RESUME PAGE */

    .button {
        padding: 1.5vh 2vh 1.25vh 2vh;
        margin-top: 1vh;
        font-size: 2.8vh;
    }


    /** PROJECT SHOWCASE */

    .mobile-showcase {
        position: static;
    }

    .mobile-only {
        margin-bottom: 3vh;
        width: 100%;
        display: block;
        text-align: left;
    }

    .description {
        margin: auto;
        height: auto;
        text-align: left;
    }

    .apps {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .games {
        width: 100%;
        height: auto;
    }

    .project-block {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .project {
        margin-top: 3vh;
        width: 100%;
        height: 22vh;
    }

    .project:last-child {
        margin-bottom: 5vh;
    }

    .name-hover {
        padding: 5% 10%;
        height: 90%;
        background-color: #2b2b35;
        font-size: 2.6vh;
        line-height: 2.3vh;
    }

    .name-hover p:first-child {
        font-size: 3vh;
    }
}