@media screen and (orientation:landscape) {
    .container {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 992px) {
    body {
        line-height: 90%;
    }


    /** ADAPTIVE MENU */

    .hamburger {
        display: flex;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu {
        width: 100vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        background-color: #302722;
        color: white;
        position: absolute;
        top: 10vh;
        z-index: 100;
    }

    .menu-item {
        margin: 3.5vh 0 0 15vw;
        font-size: 3vh;
        color: white;
    }

    .menu-item:first-child {
        padding-left: 0;
    }

    .container {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    /** PICTURE SIDE */

    .picture {
        margin-top: 4vh;
        width: 100%;
        justify-content: flex-end;
    }

    .me {
        width: 30vh;
        height: 30vh;
    }


    /** CONTENT SIDE */

    .left-part {
        width: 70vw;
        text-align: left;
    }

    .big-text {
        font-size: 5vh;
        letter-spacing: -2px;
        line-height: 7vw;
    }

    .small-text {
        font-size: 3vh;
        letter-spacing: -1.7px;
        line-height: 2.3vh;
    }


    /** RESUME */

    .button {
        padding: 1.5vh 2vh 1.25vh 2vh;
        margin-top: 1vh;
        font-size: 2.8vh;
    }
}