@media screen and (max-width: 992px) {
    /** ADAPTIVE MENU */

    .hamburger {
        display: flex;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu {
        width: 60vw;
        height: 100vh;
        display: none;
        flex-direction: column;
    }

    .container {
        height: auto;
        display: flex;
        flex-direction: column;
    }


    /** ABOUT WITH PICTURE */

    .left-part {
        width: 70vw;
        text-align: left;
    }

    .big-text {
        font-size: 7vh;
    }

    .small-text {
        font-size: 2.5vh;
    }

    .picture {
        width: 100%;
        height: 45vh;
        justify-content: flex-end;
    }

    .me {
        width: 40vh;
        height: 40vh;
    }
}